/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

app-root,app-login,app-job-list {
  display: block;   /* 👈 critical: block or flex */
  height: 100%;
  width: 100%;
}

.snackbar-success {
  background-color: #4caf50 !important; /* green */
  color: #fff !important;
}

.snackbar-error {
  background-color: #f44336 !important; /* red */
  color: #fff !important;
}

.snackbar-info {
  background-color: #2196f3 !important; /* blue */
  color: #fff !important;
}

